.banner1__details__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--text);
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (max-width: 480px) {
  .banner1__details__text {
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
