.banner2 {
  position: relative;
  width: 100%;
  height: auto;
  background-color: var(--bg-2);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.banner2__container {
  width: 100%;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .banner2 {
    padding: 30px 0;
  }

  .banner2__container {
    flex-direction: column;
  }
}

