.banner2 {
  position: relative;
  min-height: 550px;
  background-color: #FEF0E7;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.banner2__container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
