.banner2 {
  position: relative;
  min-height: 550px;
  background: url('public/images/banner2.png') center/cover ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
}
