.center_header__logo--dark {
  align-items: center;
  height: 40px;
  width: auto;
  object-fit: contain;
}

@media (max-width: 700px) {
  .center_header__logo--dark {
    height: 34px;
  }
}

@media (max-width: 480px) {
  .center_header__logo--dark {
    height: 32px;
  }
}