
.container__details {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
  max-width: 420px;
}

@media (max-width: 480px) {
  .container__details {
    position: static;
    transform: none;
    max-width: 100%;
    padding: 20px;
    text-align: center;
  }
}