.container2_details {
  max-width: 400px;
  text-align: left;
}
@media (max-width: 480px) {
  .container2_details {
    max-width: 100%;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 30px;
  }
}