.footer__section {
    width: 18%; 
}

@media (max-width: 1024px) {
    .footer__section {
        width: 80%;
        margin-bottom: 20px; 
        text-align: center; 
    }
}

@media (max-width: 600px) {
    .footer__section {
        width: 95%; 
        padding: 0;
    }
}