.footer__subscribe-button {
    background: none;
    border: none;
    color: var(--accent); 
    cursor: pointer;
    font-weight: 600;
    font-style: Jost;
    font-size: 16px;
}
@media (max-width: 480px) {
    .footer__subscribe-button {
        width: 100%; 
        padding: 0.7rem; 
    }
}