.footer__title_More_Info {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: Jost;
    color:var(--text);
}
@media (max-width: 1024px) {
    .footer__title_More_Info {
        font-size: 18px;
    }
}