.footer__section--center {
    text-align: center;
    width: 30%;
}

@media (max-width: 1024px) {
    .footer__section--center,{
        width: 80%; 
        text-align: center;
    }
}
@media (max-width: 480px) {
    .footer__section--center {
        padding: 0; 
    }
}