.footer__title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: Jost;
    color:var(--text);
}

@media (max-width: 1024px) {
    .footer__title {
        font-size: 24px;
    }
}