.images {
  width: 700px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  align-content: center;
}

.images__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.images__image--girl1 {
  grid-column: 1;
  grid-row: 1;
}

.images__image--girl3 {
  grid-column: 2;
  grid-row: 1 / 3;
}

.images__image--girl2 {
  grid-column: 1;
  grid-row: 2;
}

@media (max-width: 480px) {
  .images {
    width: 100%;
    height: auto;
    max-width: 350px;
    margin: 0 auto;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .images__image--girl3 {
    grid-column: 2;
    grid-row: 1 / 3;
  }
}
