.latest-news__title {
    color: var(--text);
    text-align: center;
    font-size: 36px; 
    margin-bottom: 30px;
    font-weight: 500;
    font-style: Jost;
}
@media (max-width: 768px) {
    .latest-news__title{
        font-size: 31px;
    }
}


@media (max-width: 480px) {
    .latest-news__title {
        font-size: 28px;
    }
}