.latest-news__headline {
    font-size: 22px; 
    margin-bottom: 10px;
    font-style: Jost;
    font-weight: 500;
    color: var(--text);
}
@media (max-width: 480px) {
    .latest-news__headline {
        font-size: 20px; 
    }
}