.prices{
  padding-top: 8px;
  align-items: center;
  gap: 4px;
}

.prices__price {
  font-family: var(--font-family);
}

.prices__price--old {
  font-weight: 500;
  font-size: 12px;
  color: var(--text-caption);
}

.prices__price--new {
  font-weight: 600;
  font-size: 14px;
  color: var(--accent);
}

@media (max-width: 480px) {
  .prices {
    padding-top: 6px;
    gap: 2px;
  }

  .prices__price--old {
    font-size: 10px;
  }

  .prices__price--new {
    font-size: 12px;
  }
}
