.product__image {
  height: 280px;
  object-fit: contain;
  box-sizing: border-box;
  background: var(--surface);
}

.product:nth-child(1) .product__image,
.product:nth-child(3) .product__image {
  padding: 10px;
}

@media (max-width: 480px) {
  .product__image {
    height: 150px;
  }

  .product:nth-child(1) .product__image,
  .product:nth-child(3) .product__image {
    padding: 5px;
  }
}
