.product {
  width: 397px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 480px) {
  .product {
    width: calc(50% - 7.5px);
    max-width: 180px;
  }
}
