.product__image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-sizing: border-box;
  background: var(--surface);
}

.product:nth-child(1) .product__image,
.product:nth-child(3) .product__image {
  padding: 40px;
}
