.reviews__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--accent); 
}
@media (max-width: 768px) {
    .reviews__title {
        font-size: 1.5rem; 
        margin-bottom: 0.8rem;
    }
}

@media (max-width: 480px) { 
    .reviews__title {
        font-size: 1.2rem;
    }
}
