.reviews__button {
    background-color: var(--bg-2);
    border: 1px solid var(--accent); 
    border-radius: 5px; 
    width: 2.5rem;       
    height: 2.5rem;     
    display: flex;        
    align-items: center;   
    justify-content: center;
    cursor: pointer;       
    margin-right: 0.5rem;  
    color: var(--accent);          
    font-size: 1rem;     
    transition: background-color 0.2s ease; 
}

.reviews__button:hover {
    background-color: brown; 
    color: var(--bg-page);  
}
@media (max-width: 768px) {
    .reviews__button {
        width: 2rem;
        height: 2rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) { 
    .reviews__button {
        width: 1.5rem; 
        height: 1.5rem;
        font-size: 0.7rem;
        margin-right: 0.3rem; 
    }
}