.reviews {
    background-color: var(--bg-2); 
    padding: 2rem 0; 
    position: relative; 
    overflow: hidden; 
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

@media (max-width: 768px) {
    .reviews {
        padding: 1rem 0; 
        align-items: flex-start; 
    }
}

@media (max-width: 480px) { 
    .reviews {
        height: 500px;
        padding: 0.5rem 0; 
    }
}
