.shop-all {
    padding: 2rem 0;
    width: 100%;
}







/* Карточка товара */























@media (max-width: 768px) {
    .shop-all__container {
        padding: 0 1rem; 
    }

    .shop-all__title {
        font-size: 1.5rem; 
    }

    .shop-all__grid {
        gap: 0.5rem; 
    }

    .shop-all__item {
        padding: 0.25rem; 
    }

    .shop-all__product-name {
        font-size: 0.8rem; 
    }

    .shop-all__price {
        font-size: 0.7rem; 
    }
    .shop-all__image{
        width: 200px;
        height: 200px;
    }
    .shop-all__image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .shop-all__CenterImg{
        position: relative;
    }
    
    .shop-all__image-wrapper {
        width: 100%;
    }
    .shop-all__image {
        width: 300px;
        height: 300px;
        display: block;
    }
    .shop-all__sale-badge {
        position: absolute;
        top: 0.7rem;  
        right: 15.3rem;  
    }
}

