.shop-all__product-name {
    color: var(--text);
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    text-align: center;
}
@media (max-width: 768px) {
    .shop-all__product-name {
        font-size: 0.8rem; 
    }
}