.shop-all__sale-badge {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background-color: var(--accent); 
    color: var(--bg-page);
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}
@media (max-width: 480px) {
    .shop-all__sale-badge {
        position: absolute;
        top: 0.7rem;  
        right: 15.3rem;  
    }
}