.shop-all__image-wrapper {
    position: relative;
}
@media (max-width: 768px) {
    .shop-all__image-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .shop-all__image-wrapper {
        width: 100%;
    }
}