.top_header__currency--flag {
  width: 18px;
  height: 12px;
  object-fit: cover;
  border-radius: 2px;
}

@media (max-width: 480px) {
  .top_header__currency--flag {
    width: 18px;
    height: 12px;
  }
}
