body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 480px) {
  body {
    min-width: 22rem;
  }
}
