:root {
  color-scheme: light;
  --bg-2: #FEF0E7;
  --bg-page: #fff;
  --text: #000;
  --text-subtitle: #454545;
  --text-caption: #9d9d9d;
  --text-on-accent: #fff;
  --accent: #f6623e;
  --surface: #f4f3f4;
}

@media (prefers-color-scheme: light) {
    .banner1__edge--dark {
        display: none;
    }
    .service__image--dark {
      display: none;
    }
    .center_header__logo--dark{
      display: none;
    }
    .center_header__icons--search--dark {
      display: none;
    }
    .center_header__icons--bag-icon--dark {
      display: none;
    }
    .reviews__edge.reviews__edge--dark{
      display: none;
    }
    .reviews__image-item--dark {
      display: none;
    }
    .footer__edge.footer__edge--dark{
      display: none;
    }
    .footer__logo-image--dark{
      display: none;
    }
    
}
