@import './styles/global/media.css';
@import './styles/normalize.css';
@import './styles/global/utility.css';
@import './styles/components/container.css';
@import './styles/global/top-header.css';
@import './styles/global/register-currency.css';
@import './styles/global/center-header.css';
@import './styles/global/nav.css';
@import './styles/global/icons.css';
@import './styles/global/banner1.css';
@import './styles/global/container.css';
@import './styles/global/details.css';
@import './styles/global/deal.css';
@import './styles/global/products.css';
@import './styles/global/product.css';
@import './styles/global/product__image.css';
@import './styles/global/product__caption.css';
@import './styles/global/services-block.css';
@import './styles/global/service.css';
@import './styles/global/banner2.css';
@import './styles/global/container2.css';
@import './styles/global/images.css';
@import './styles/global/show-products.css';
@import './styles/global/show-products__title.css';
@import './styles/global/show-products__button-container.css';
@import './styles/global/prices.css';
@import './styles/global/product__sale-badge.css';
@import './styles/global/product--with-sale.css';
@import './styles/global/product__image--v2.css';
@import './styles/global/reviews.css';
@import './styles/global/shop-all.css';
@import './styles/global/latest-news.css';
@import './styles/global/photos.css';
@import './styles/global/footer.css';

body {
  background: var(--bg-page);
}
